<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.programmersbox.common">
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application>
        <receiver android:name=".AlarmReceiver" android:exported="true"/>
    </application>
</manifest>